.card {
  width: 100%;
  max-width: 365px;
  background-color: #222831;
  color: #eeeeee;
  margin: 0 auto;

  border-radius: 24px;
}

.card:hover .game-image {
  transition: 0.3s ease-out;
  filter: brightness(0.7);
  cursor: pointer;
}

.game-content h2,
.game-content h3 {
  font-family: sans-serif;
}

.game-content h2 {
  margin-bottom: 0.4em;
}

.game-content h3 {
  margin-bottom: 0.5em;
}

.game-image {
  border-radius: 24px 24px 0 0;
}

.game-content {
  padding: 12px;
}

.game-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0.2em;
}

.game-genre {
  font-size: 14px;
  margin-bottom: 0.4em;
}

.platform-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}
.platform-list li {
  margin: 0 0.4em 0 0;
}
.platform-list svg {
  font-size: 1.2em;
  color: 393e46;
}
.container-avaliation {
  display: flex;
  justify-content: space-between;
}

.container-avaliation {
  padding: 8px 0 0 0;
}

.fav,
.rating {
  cursor: pointer;
}

@keyframes animation {
  0% {
    color: grey;
  }

  100% {
    color: #e6454e;
  }
}

@keyframes reverseAnimation {
  0% {
    color: #e6454e;
  }

  100% {
    color: grey;
  }
}

.heart-icon-liked {
  color: #e6454e;
  animation: animation 0.4s;
}

.heart-icon {
  animation: reverseAnimation 0.4s;
}

@media (max-width: 375px) {
  .game-image {
    max-width: 300px;
  }
}
