.header-container {
  width: 100vw;
  height: 80px;
  position: fixed;
  background-color: #222831;
  z-index: 1;
}
.header-container div {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header-container svg {
  color: #eeeeee;
  font-size: 4.2em;
}

.header-container p {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  color: white;
  padding: 0 0.5em;
}
